
:root {
    --pale-green: #cad2c5;
    --green-one: #84a98c;
    --green-two: #52796f;
    --green-three: #354f52;
    --green-four: #2f3e46;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
        background-color: #fff;
        font-family: 'Roboto', sans-serif;
        height: 100%;
        
}

.page-title {
    display: flex;
    padding: 2rem;
    background-image: linear-gradient(lightgreen, darkgreen);
    border: solid 2px black;
}

.page-title h2 {
    font-size: 2.5rem;
    margin: 0 auto;
    color: #fff;
    
}

.menu-toggle {
    position: absolute;
    top: 45px;
    color: #fff;
    transition: 0.4s;
    
}

.menu-toggle.visible {
    left: 310px;
}

.add-task {
    display: flex;
    align-self: center;
    color: #fff;
    transition: 0.4s;
    
}

.menu-toggle:hover,
.add-task:hover {
    cursor: pointer;
    color: var(--green-four);
}


/* SIDE MENU */

.side-menu.visible {
    left: 0;
}

.side-menu {
    width: 300px;
    min-height: 100vh;
    max-height: 20000vh;
    position: relative;
    left: -300px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    justify-content: flex-start;
    align-items: center;
    background-image: linear-gradient(darkgreen, lightgreen);
    border-right: solid 2px black;
    border-left: solid 2px black;
    color: #fff;
    transition: .5s;
}

.side-menu button {   
    width: 80%;
    margin: 1.5rem 0;
    padding: 0.5rem 0;
    font-size: 1rem;
    font-weight: 700;
    color: var(--green-four);
    background-color: #fff;
    border: solid 1px black;
    border-radius: 5px;
    transition: .2s;
    transition: 0.3s;
}

.side-menu button:hover {
    cursor: pointer;
    background-color: lightgreen;
    transform: translateY(-5%);
}

.side-menu h2 {
    width: 80%;
    margin: 3rem 0 1rem;
    border-bottom: 3px solid #fff;
    padding-bottom: 0.5rem;
    text-align: center;
}

.side-menu i {
    padding-right: 0.7rem;
}

.project-entries {
    margin-top: 1rem;
}

.project-entries div {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.project-entries button {
    height: 1.6rem;
    width: 11rem;
    margin: 0 auto;
    color: var(--green-four);
    border: solid 1px black;
    border-radius: 5px;
    background-color: #fff;
    font-size: 0.75rem;
    line-height: 0.6rem;
}

.project-entries button:hover {
    background-color: lightgreen;
}

.project-delete {
    margin-left: 0.6rem;
    transition: .2s;
}

.project-delete:hover {
    cursor: pointer;
    color: lightgreen;
}

/* PAGE INTERFACE */

.interface-container {
    display: flex;
}

.page-interface {
    position: relative;
    font-size: 1.5rem;
    right: 300px;
    transition: .5s;
    padding: 2rem 4rem;
}

.page-interface.visible {
    right: 0px;
}

.page-interface h2 {
    color: var(--green-three);
    width: 100vw;
    border-bottom: solid 3px;
    margin-bottom: 2rem;
}

/* TASK ENTRY */

.task-entries {
    width: 80vw;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 2rem;
}

.task-entry {
    height: 12rem;
    width: 20rem;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-between;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 10px 5px 15px rgb(73, 73, 73);
}

.title-styling {
    font-size: 1.3rem;
    font-style: italic;
    text-decoration: underline;
}

.entry-buttons {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.entry-buttons i {
    margin: 0 0.3rem;
    transition: 0.2s;
}

.entry-buttons i:hover {
    cursor: pointer;
    transform: translateY(-3px);
}

.task-bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

/* TASK MODAL */

.modal {
    position: absolute;
    flex-direction: column;
    top: -50%;  
    left: 50%; 
    transform: translate(-50%, 50%);
    background-image: linear-gradient(lightgreen, darkgreen);
    box-shadow: 10px 5px 15px rgb(73, 73, 73);
    height: 50vh;
    width: 50vw;
    max-width: 350px;
    border: solid 2px black;
    border-radius: 10px;
    opacity: 0.5;
    z-index: 0;
}

@keyframes fade-in {
    0% { top: -5%; }
    100% { top: 0%; opacity: 1; }
}

.modal::backdrop {
    background-color: rgba(0,0,0,0.5);
}

.form-title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-title h2 {
    padding: 1.5rem 0 4rem;
}

.form-title i {
    padding-right: 0.5rem;
    color: black;
}

.modal-close {
    position: absolute;
    top: 38px;
    right: 10px;
    color: black;
    transition: 0.2s;
}

.modal-close:hover {
    cursor: pointer;
    transform: translateY(-2px);
}

.modal-input {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal label,
.project-modal label {
    display: flex;
    padding: 0 0 0.4rem;
    font-size: 1rem;
    font-weight: 700;
}

.modal input,
.modal select {
    margin: 0 auto;
    width: 80%;
    margin-bottom: 1rem;
    padding: 0.1rem ;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
}

.modal button,
.project-modal button {
    display: flex;
    margin: 0.8rem auto;
    padding: 0.5rem 2.5rem;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    font-size: 1rem;
    font-weight: 700;
}

.modal button:hover,
.project-modal button:hover {
    cursor: pointer;
    background-color: lightgreen;
    transition: 0.3s;
}

.modal select:hover,
.due-date:hover {
    cursor: pointer;
}

.task-error {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 20%;  
    left: 50%; 
    width: 100%;
    max-width: 330px;
    padding: 0.3rem 0;
    font-size: 0.8rem;
    text-align: center;
    background-color: red;
    color: #fff;
    z-index: 2;
    visibility: hidden;
}

/* PROJECT MODAL */

.project-modal {
    height: 16rem;
    width: 20rem;
    margin: auto;
    background-image: linear-gradient(lightgreen, darkgreen);
    box-shadow: 10px 5px 15px rgb(73, 73, 73);
    max-width: 300px;
    border: solid 2px black;
    border-radius: 10px;
    opacity: 0.5;
}

.project-modal input {
    height: 1.5rem;
    width: 85%;
    padding-left: 0.2rem;
    margin: 0.5rem 0;
    border-radius: 5px;
}

.project-error {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 35%;  
    left: 50%;
    width: 100%;
    padding: 0.3rem 0;
    text-align: center;
    background-color: red;
    color: #fff;
    font-size: 0.8rem;
    z-index: 2;
    visibility: hidden;
}